<h3>蛇形对阵</h3>

<mat-form-field>
  <mat-select placeholder="参赛人数" [(ngModel)]="selectedValue">
    <mat-option *ngFor="let opt of options" [value]="opt" (click)="onSelect(opt)">
      {{opt}}人
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="positions-container">
  <ul class="position-list" *ngFor="let oneOrder of orderMatrix; index as row" ngClass="{{'list-' + row}}">
    <li class="position-list-item" *ngFor="let pos of oneOrder; index as i">
      <span class="item-index">{{i+1}}</span>
      <span>{{pos}}</span>
    </li>
  </ul>
</div>
