.positions-container * {
  box-sizing: border-box;
}
.positions-container {
  display: flex;
  margin-left: 30px;
}
.position-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}
.position-list-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  position: relative;
  border: 1px solid #ccc;
}
.list-0 .position-list-item {
  margin: 0;
  /* 4*1 - 0*1 */
  height: 4em;
}
.list-1 .position-list-item {
  margin: 1em 0;
  /* 4*2 - 1*2 */
  height: 6em;
}
.list-2 .position-list-item {
  margin: 2em 0;
  /* 4*4 - 2*2 */
  height: 12em;
}
.list-3 .position-list-item {
  margin: 3em 0;
  /* 4*8 - 3*2 */
  height: 26em;
}
.list-4 .position-list-item {
  margin: 4em 0;
  /* 4*16 - 4*2 */
  height: 56em;
}
.list-5 .position-list-item {
  margin: 5em 0;
  /* 4*32 - 5*2 */
  height: 118em;
}
.list-6 .position-list-item {
  margin: 6em 0;
  /* 4*64 - 6*2 */
  height: 244em;
}
.item-index {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2em;
  height: 1.2em;
  background-color: #cccccc;
  font-size: 14px;
  color: #fff;
}
